[color]
 diff = auto
 status = auto
 branch = auto
[alias]
 st = status
 co = checkout
 nb = checkout -b
 up = pull --rebase
 br = branch
 pom = push origin master
 serve = !git daemon --reuseaddr --verbose --base-path=. --export-all ./.git
 commiters = !git log --pretty=short --no-merges | git shortlog -nes
 lg = log --graph --pretty=format:'%Cred%H%Creset -%C(yellow)%d%Creset %s %Cgreen(%ad) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
 cleanup = !git branch | grep -v \"($(git branch -a | grep 'remotes/origin/' | grep -v HEAD | cut -d/ -f3- | tr '\n' '|'  | rev | cut -c 2- | rev))\" | grep -v '*' | xargs git branch -d
 cleanup-old = !git branch | grep -Ev \"($(git branch -a | grep 'remotes/origin/' | grep -v HEAD | cut -d/ -f3- | tr '\n' '|'  | rev | cut -c 2- | rev))\" | grep -v '*' | xargs git branch -d
[core]
 editor = vim
 pager = "less -RiqMSj5"
 autocrlf = false
 excludesfile = "~/.gitignore"
[push]
 default = tracking
[merge]
 tool = vimdiff
[user]
 name = German Monfort
 email = german.monfort@gmail.com
[rerere]
 enabled = false
[url "ssh://git@heroku.com/"]
insteadOf = https://git.heroku.com/
