[submodule ".vim/bundle/vim-ruby"]
	path = .vim/bundle/vim-ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule ".vim/bundle/handlebars"]
	path = .vim/bundle/handlebars
	url = git://github.com/nono/vim-handlebars.git
