[color]
  diff = auto
  status = auto
  branch = auto
[alias]
  st = status
  co = checkout
  nb = checkout -b
  up = pull --rebase
  br = branch
  serve = !git daemon --reuseaddr --verbose --base-path=. --export-all ./.git
  commiters = !git log --pretty=short --no-merges | git shortlog -nes
  lg = log --graph --pretty=format:'%Cred%H%Creset -%C(yellow)%d%Creset %s %Cgreen(%ad) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[core]
  editor = vim
  pager = "less -RiqMSj5"
  autocrlf = false
  excludesfile = "~/.git-local-ignores"
[push]
  default = tracking
[merge]
  tool = vimdiff
[user]
  name = German Monfort
  email = german.monfort@gmail.com
[rerere]
  enabled = false
[giggle]
	main-window-maximized = true
	main-window-geometry = 1030x533+0+59
	history-view-vpane-position = 303
	main-window-view = HistoryView
	file-view-vpane-position = 388
	file-view-hpane-position = 417
