[color]
	diff = auto
	status = auto
	branch = auto
[alias]
	st = status
	co = checkout
	nb = checkout -b
	up = pull --rebase
	br = branch
	serve = !git daemon --reuseaddr --verbose --base-path=. --export-all ./.git
[core]
	editor = vim
	pager = "less -RiqMSj5"
	autocrlf = false
	excludesfile = "/Users/cubox/.git-local-ignores"
[push]
	default = tracking
[merge]
	tool = vimdiff
[user]
	name = Cubox
	email = dev@cuboxsa.com
